html {
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header ul li {
    list-style: none;
}
.header ul li a {
    text-decoration: none;
    color: black;
}
#name {
    font-size: 50px;
}
.header_left {
    margin-top: 5px;
}
.header_left ul li {
    margin-bottom: 20px;
    padding: 0;
}
.header_right ul li {
    text-align: right;
}
.container {
    display: flex;
}
.container ul li {
    list-style: none;
}
.container1 {
    flex: 1; 
}
.container2 {
    flex: 2;
}
.container__flex-item {
    text-decoration:underline rgb(67, 246, 67);
    font-style:normal;
    font-size:large;
}
.but_blue {
    color: aliceblue;
    background-color: green;
    border-radius: 5px;
}
.but_red {
    color: aliceblue;
    background-color: red;
    border-radius: 5px;
}